<app-layout>
  <mat-sidenav-container>
     <mat-sidenav #sidenav role="navigation">
      <app-sidenav-list (sidenavClose)="sidenav.close()">
        <span class="online" *ngIf="isOnline">Online</span>
        <span class="offline" *ngIf="!isOnline">Offline</span>
      </app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header (sidenavToggle)="sidenav.toggle()">      </app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>

<button class="add-home-screen" (click)="addToHomeScreen()" *ngIf="showButton">請加入主畫面</button>
